{% extends "front/base.twig" %}

{% block title %}
 USer Page
{% endblock %}

{% block content %}

<h1>Niggasss</h1>

	

	{% for user in users %}
	<p>My name is {{ user.name }} </p>
	{% endfor %}




{% endblock %}